* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  font-family: "Ubuntu Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.logo-title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 55px;
  margin-top: 8px;
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #333;
}

.input {
  padding: 10px;
  display: flex;
  width: 98%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  background-color: #333;
  color: white;
}

.not-found {
  text-align: center;
  padding: 10px;
  color: red;
}

.desktop-menu .link,
.mobile-menu .link {
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.link:hover {
  background-color: #fff;
  color: #333;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.mobile-menu .links {
  display: none;
}

.mobile-menu .links.open {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.mobile-menu .links .link {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu .links {
    display: none;
  }

  .mobile-menu .links.open {
    display: flex;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.watch-later-button,
.favorite-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.watch-later-button {
  margin-right: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  padding: 10px;
  align-items: center;
  background-color: #333;
}

.card {
  height: 300px;
  position: relative;
  border-radius: 10px; /* Köşeleri yuvarlama */
  background-color: #fff; /* Kart arka plan rengi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Geçiş efektleri */
}

.card:hover {
  transform: translateY(-5px); /* Kartın hafif yukarı kaldırılması */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hafif daha belirgin gölge */
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #ff0000;
}

.card-img {
  height: 300px;
}

.card-text {
  font-size: 16px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.overlay {
  position: absolute; /* Kartın içinde mutlaka konumlandırılacak */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Başlangıçta görünmez olacak */
  transition: opacity 0.3s ease; /* Opaklık değişimini yumuşak hale getirir */
  background-color: rgba(0, 0, 0, 0.5); /* Arkaplan rengi ve saydamlık */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .overlay {
  opacity: 1; /* Kartın üzerine gelindiğinde görünür hale gelecek */
}

.overlay-text {
  color: white;
  text-align: center;
}

.banner {
  height: 500px;
  background-color: black;
}
.banner-container {
  background-color: #333;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.banner-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.banner-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.banner-button:hover {
  background-color: #990000;
}

.remove-button {
  background-color: black;
  color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  position: relative;
  top: -85px;
  left: 80px;
}
